* {
    box-sizing: border-box;
}

#box {
    background:red;
    border: 1px solid green;
    width:100px;
    height:100px;
    margin-top: 20px;
    display:table;

}

#inner {
    float:left;
    width:50%;
    height:50%;
    border:1px solid black;
}